body {
    background: gray url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/particle-fire-updraft_-yaikob-h__F0000.png) repeat 0 0 fixed;
    background-size: cover;
    width: 100%;
    text-align: center;
    height: 300px;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}
@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -400px 0;
    }
}

 a {
    text-decoration: none;
}

.container-content {
    background-color: transparent;
    border: 1px solid grey;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

    .container-content h1 {
        font-size: 12px;
        text-align: center;
        flex: 0 0 100%;
    }

        .container-content h1 span {
            display: inline;
            border: 1px solid grey;
            background: #fff;
            padding: 5px 10px;
            position: relative;
            top: -1.3em;
        }

.container-content .box:hover {
    background-color: darkseagreen;
    transition: 0.9s;
   -webkit-transform:scale(1.09);
   -moz-transform:scale(1.09);
   transform:scale(1.09);
   z-index:1;
}


.container-content span {
    color: darkslategrey;
    font-size: large;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.imgplace:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.container-content .firsthalf {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title a:hover, .right a:hover {
    color: blue;
    text-decoration: none;
}

.container-content .box {
    transition:0.9s;
    background-color: white;
    opacity:0.8;
    margin: 8px;
    border: 1px solid grey;
    position: relative;
    width: 200px;
}



.container-content .imgplace img {
    background-repeat: no-repeat;
    background-size: 100%;

}


.container-content .prices {
    height: 30px;
    margin-top: 30px;
    border-top: 1px solid grey;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.container-content .title {
    margin-top: 10px;
}

.container-content .prices .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-right: 1px solid grey;
}

  .container-content .prices .left:hover {
        background-color: #dedede;
        transition: 0.9s;
    }

.container-content .prices .right:hover {
    background-color: #dedede;
    transition: 0.9s;
}

.container-content .prices .right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}
